body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    /* background-color: skyblue; */
    background-image: url("../flappy-bird-master/flappy-bird-game-background.jpg");
}